@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(110, 196, 219);
}


/* ==============================  C A B E Ç A L H O  ============================== */
.cabecalho{
    width: 100%;
}

.cabecalho .logo{
    width: 10vw;
}

.cabecalho nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cabecalho nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto 3%;
}

.cabecalho nav li{
    margin-left: 2em;
    font-size: 1.2em;
}

.cabecalho nav li a{
    color: #FFF;
    font-size: 2.3vw;
}


.cabecalho nav li i{
    font-size: 1.3em;
    transform: scaleX(-1);
}



/* ==============================  CARROSSEL  ============================== */
.carrossel{
    position: relative;
    z-index: 3;
}

.setas{
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

#dot1, #dot2, #dot3{
    position: absolute;
    left: 50%;
    font-size: 2vw;
    top: 93%;
    color: #F3660D;
}

#dot1{
    color: #FFF;
    margin: 0 -3%;
}

#dot3{
    margin: 0 3%;
}

article .banner{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.escrita{
    display: flex;
    flex-direction: column;
    width: 50%;
}

 article .banner .first{
    margin: 5% 0 0 5%;
    font-size: 5vw;
    font-family: 'Sedgwick Ave Display', cursive;
    color: #F3660D;
    z-index: 1;
}

article .banner .second{
    margin-left: 5%;
    font-size: 10vw;
    color: #F3660D;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: 900;
}

article .banner .third{
    margin-left: 5%;
    font-size: 2vw;
    color: #FFF;
    font-weight: 300;
}

article .banner a{
    width: 100%;
}

article .banner .four{
    width: 70%;
    padding: 2%;
    margin: 5% 15%;
    font-size: 3vw;
    color: #FFF;
    font-weight: 300;
    background-color: transparent;
    border: 3px solid #FFF;
    border-radius: 20px;
    cursor: pointer;
}

article .banner .four:hover{
 
    background-color: #FFF;
    color: rgb(0, 190, 216);
    transition: background-color 0.5s;
}

.boloIMG{
    position: relative;
    right: 2%;
    width: 50%;
    height: 400px;
    margin: 30px 0;
    transition: 0.5s;
}

.boloIMG:hover{
    transform: scale(1.2) translateX(-5%); 
}


/* ==============================  M A I N  ============================== */
main{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: #FFF;
}


main h1{
    margin: 4% auto;
    font-size: 5vw;
    color: #FF00E5;
    border-bottom: px solid #FF00E5;
    font-weight: 900;
}

.bolos{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.bolo{
    width: 30%;
    min-height: 450px;
    margin: 2% 1%;
    border: 10px solid rgb(110, 196, 219);
    border-bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(0, 191, 216, 0.15);
    transition: 0.5s;
    border-radius: 10px;
}

.bolo:target{
    transform: translateY(-5%);
    transition: 1s;
}


.bolo:hover{
    transform: translateY(-5%);
}

.bolo p{
    text-align: center;
    font-size: 2.5vw;
    width: 90%;
    margin: 5%;
    color: #00BED8;
    font-weight: 700;
}

.bolo img{
    margin: 3% 0;
    width: 80%;
    height: 200px;
}

.bolo button{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 5%;
    font-weight: 900;
    color: #FFF;
    font-size: 2.5vw;
    background-color: rgb(110, 196, 219);
    cursor: pointer;
}


/* ====================  C O N T A T O  ==================== */

.contato{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.contato h1{
    display: inline-block;
    font-size: 8vw;
    font-weight: 700;
    color: #FF00E5;
    margin: 4% 0;
    text-shadow: 2px 2px 2px #FFF;
}

.wpp, .ifood{
    width: 90%;
    margin: 1.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5vw;
    color: #FFF;
}

.wpp, .ifood p{
    margin: 0 2%;
}

.ifood{
    margin-bottom: 5%;
}


/* ====================  QUEM SOMOS  ==================== */
.quemSomos{
    border-top: 5px solid #FFF;
    width: 100%;   
}

.quemSomos .content{
    width: 80%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quemSomos h1{
    font-size: 8vw;
    font-weight: 700;
    color: #FF00E5;
    margin: 4% 0;
    margin: 2% 0 3% 0;
    text-shadow: 2px 2px 2px #FFF;
}

.quemSomos p{
    font-size: 3vw;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 3%;
}


/* ====================  F O O T E R ==================== */
.rodape{
    width: 100%;
    border-top: 5px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4% 0;
    font-size: 4vw;
    background-color: #FFF;

}

.rodape h1{
    font-weight: 900;
    color: #00BED8;
}